.night-mode {
  margin-top: 10px;
  text-align: center;
  a {
    display: inline-block;
    padding: 0 15px;
    color: rgb(252, 100, 35);
    border: 1px solid rgb(252, 100, 35) !important;
    border-radius: 4px;

    i {
      color: rgb(252, 100, 35);
    }

    &:hover {
      color: #FAFAFA;
      background: rgb(252, 100, 35);

      i { color: #FAFAFA; }
    }
  }
}
