.darkScheme body {
  background: rgb(26, 26, 26);
  color: #75f079;
}

.darkScheme .exturl a {
  &:hover {
    color: white;
  }
}

.darkScheme .footer {
	background: rgb(26, 26, 26);
  color: #75f079;
}

.darkScheme .header {
  background: rgb(29, 29, 29);
}

.darkScheme sidebar-inner {
	background: rgb(26, 26, 26);
}

.darkScheme post-expand {
	background: rgb(26, 26, 26);
}

.darkScheme .site-title {
	//background: #75f079;
	color: #75f079;
}

.darkScheme .note.info {
	background: #75f079;
  p {
    color: black;
  }
}

.darkScheme post-block {
	color: #75f079;
}

.darkScheme .post-title-link {
	color: #75f079;
}

.darkScheme .copy-btn {
	background: rgb(26, 26, 26);
  color: #75f079;
}

.darkScheme .post-copyright {
	background-color: rgb(26, 26, 26);
}

.darkScheme .menu .menu-item a {
	color: #75f079;
}

.darkScheme .menu-item-active a, .darkScheme .menu .menu-item a:hover, .darkScheme .menu .menu-item span.exturl:hover {
  background: blue;
}
