.darkScheme body {
  background: rgb(32, 33, 36);
  color: #FAFAFA;
}

.darkScheme .exturl a {
  &:hover {
    color: #1E88E5;
  }
}

.darkScheme a {
  &:hover {
    color: #1E88E5;
  }
}

.darkScheme .footer {
	background: rgb(32, 33, 36);
  color: #FAFAFA;
}

.darkScheme .header {
  background: rgb(29, 29, 29);
}

.darkScheme sidebar-inner {
	background: rgb(32, 33, 36);
}

.darkScheme post-expand {
	background: rgb(32, 33, 36);
}

.darkScheme .site-title {
	//background: #FAFAFA;
	color: #FAFAFA;
}

.darkScheme .note.info {
	background: #FAFAFA;
  p {
    color: black;
  }
}

.darkScheme post-block {
	color: #FAFAFA;
}

.darkScheme .post-title-link {
	color: #FAFAFA;
}

.darkScheme .copy-btn {
	background: rgb(32, 33, 36);
  color: #FAFAFA;
}

.darkScheme .post-copyright {
	background-color: rgb(32, 33, 36);
}

.darkScheme .menu .menu-item a {
	color: #FAFAFA;
}

.darkScheme .pagination .page-number.current {
  background: #1E88E5;
  border-top-color: #1E88E5;
  color: #FAFAFA;
}

.darkScheme .menu-item-active a, .darkScheme .menu .menu-item a:hover, .darkScheme .menu .menu-item span.exturl:hover {
  background: #1E88E5;
}
