.night-mode {
  margin-top: 10px;
  text-align: center;
  a {
    display: inline-block;
    padding: 0 15px;
    color: #555;
    border: 1px solid #555 !important;
    border-radius: 4px;

    i {
      color: #555;
    }

    &:hover {
      color: #555;
      background: #111;

      i { color: white; }
    }
  }
}

.darktheme body {
  background: #1a1a1a;
  color: #555;
}

.darktheme .exturl a {
  &:hover {
    color: #555;
  }
}

.darktheme .footer {
	background: rgb(26, 26, 26);
  color: #555;
}

.darktheme .header {
  background: rgb(29, 29, 29);
}

.darktheme sidebar-inner {
	background: rgb(26, 26, 26);
}

.darktheme post-expand {
	background: rgb(26, 26, 26);
}

.darktheme .site-title {
	//background: #75f079;
	color: #555;
}

.darktheme .note.info {
	background: #555;
  p {
    color: black;
  }
}

.darktheme post-block {
	color: #555;
	background: #111;
}

.darktheme .post-title-link {
	color: #555;
}

.darktheme .copy-btn {
	background: rgb(26, 26, 26);
  color: #555;
}

.darktheme .post-copyright {
	background-color: rgb(26, 26, 26);
}

.darktheme .menu .menu-item a {
	color: #555;
}

.darktheme .menu-item-active a, .darktheme .menu .menu-item a:hover, .darktheme .menu .menu-item span.exturl:hover {
  background: #222;
}

.darktheme .post-block {
  background: #111;
}

.darktheme .header-inner {
  background: #111;
}

.darktheme .site-meta {
  background: #111;
}

.darktheme .sidebar-inner {
  background: #111;
}

.darktheme .btn {
  background: #111;
}

.darktheme .posts-collapse::before {
  background: #555;
}

.darktheme .menu .menu-item .badge {
  background: #555;
  color: #111;
}

.darktheme .sidebar-nav .sidebar-nav-active {
    border-bottom-color: #555;
    color: #555;
}

.darktheme .sidebar-nav li:hover {
    color: #222;
    border-bottom-color: #222
}

.darktheme .sidebar-nav .sidebar-nav-active:hover {
    border-bottom-color: #222;
    color: #222;
}

.darktheme .post-toc .nav .active-current > a {
    border-bottom-color: #555;
    color: #555;
}


.darktheme .post-toc .nav .active > a {
    border-bottom-color: #555;
    color: #555;
}

.darktheme .post-toc .nav .active > a {
    border-bottom-color: #555;
    color: #555;
}


.darktheme .back-to-top {
    background: #222;
}

.darktheme .post-toc ol a:hover {
    border-bottom-color: #222;
    color: #222;
}

.darktheme .post-toc ol a {
    border-bottom-color: #333;
    color: #333;
}
.darktheme .site-description {
    color: #555;
}
.darktheme .site-author-name {
    color: #555;
}

.darktheme .site-state-item-name {
    color: #555;
}

.site-state-item:not(:first-child) {
    border-left: 1px solid #555;
}
.darktheme .post-body h1 {
    border-bottom: 1px solid #222;
}
.darktheme .post-body h2 {
    border-bottom: 1px solid #222;
}
.darktheme .post-body h3 {
    border-bottom: 1px solid #222;
}
.darktheme .post-body h4 {
    border-bottom: 1px solid #222;
}
.darktheme .post-body h5 {
    border-bottom: 1px solid #222;
}
.darktheme .category-all-page .category-list-count {
    color: #222;
}
.darktheme .site-subtitle {
    color: #222;
}
.darktheme .pace .pace-progress {
  background: #555;
}
.darktheme .search-popup {
    background: #222;
}
.darktheme .search-popup .search-header {
    background: #222;
}
.darktheme .search-popup .search-icon, .search-popup .popup-btn-close {
    color: #333;
}
