.night-mode {
  margin-top: 10px;
  text-align: center;
  a {
    display: inline-block;
    padding: 0 15px;
    color: rgb(252, 100, 35);
    border: 1px solid rgb(252, 100, 35) !important;
    border-radius: 4px;

    i {
      color: rgb(252, 100, 35);
    }

    &:hover {
      color: white;
      background: rgb(252, 100, 35);

      i { color: white; }
    }
  }
}

.darktheme body {
  background: rgb(26, 26, 26);
  color: #75f079;
}

.darktheme .exturl a {
  &:hover {
    color: white;
  }
}

.darktheme .footer {
	background: rgb(26, 26, 26);
  color: #75f079;
}

.darktheme .header {
  background: rgb(29, 29, 29);
}

.darktheme sidebar-inner {
	background: rgb(26, 26, 26);
}

.darktheme post-expand {
	background: rgb(26, 26, 26);
}

.darktheme .site-title {
	//background: #75f079;
	color: #75f079;
}

.darktheme .note.info {
	background: #75f079;
  p {
    color: black;
  }
}

.darktheme post-block {
	color: #75f079;
}

.darktheme .post-title-link {
	color: #75f079;
}

.darktheme .copy-btn {
	background: rgb(26, 26, 26);
  color: #75f079;
}

.darktheme .post-copyright {
	background-color: rgb(26, 26, 26);
}

.darktheme .menu .menu-item a {
	color: #75f079;
}

.darktheme .menu-item-active a, .darktheme .menu .menu-item a:hover, .darktheme .menu .menu-item span.exturl:hover {
  background: blue;
}
